@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ff914d;
  overflow: hidden;
  padding-bottom: 10%;
  height: 100vh;
  background: #ff914d;
  overflow: auto;
}
.nav {
  background-color: #365173;
  color: #ffffff;
}
.nav-bar {
  background-color: #365173;
}
.header {
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2%;
  max-width: 30vw;
}

/* a {
  text-decoration: none;
  color: white;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
} */
button:hover {
  color: #ff914d;
}
a:hover h2 {
  color: #ff7f00;
}

a:hover {
  color: #ff7f00;
}

.test-row {
  display: flex;

  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  text-align: center;
  min-width: 25vw;
  min-height: 35vh;
  max-height: 35vh;
  max-width: 25vw;

  align-self: center;
}
.test-link {
  padding: 10%;
  border: 10px solid #365173;
  border-radius: 25px;
  max-width: 50%;
  min-width: 50%;
  margin: 10px;
  background-color: #365173;
  text-decoration: none;
  color: white;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
}
/* div {
  flex: 1;
  background: #ff914d;
  overflow: auto;
} */
@media only screen and (max-width: 350px) {
  h3 {
    font-size: x-small;
    font-weight: lighter;
  }
}
@media only screen and (max-width: 800px) {
  h3 {
    font-size: medium;
    font-weight: lighter;
  }
  .page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .test-link {
    padding: 10%;
    border: 10px solid #365173;
    border-radius: 25px;
    max-width: 40vw;
    min-width: 40vw;
    margin: 10px;
    background-color: #365173;
  }
  .test-row {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    text-align: center;
    max-width: 40vw;
    min-width: 30vw;
    max-height: 100vw;
    align-self: center;
    margin: 5vw;
  }
}
iframe {
  height: 100vh;
  width: 100vw;
}
